.link {
  display: inline-flex;
  align-items: center;
  min-width: 10rem;
  min-height: 2.75rem;
}

.link img {
  width: 10.4rem;
  height: auto;
}

@media (max-width: 48rem) {
  .link {
    min-width: 8rem;
  }

  .link img {
    width: 8.5rem;
  }
}
